@import "./_variables.scss";



.item__coupon__filter-item div label {
  font-size: 14px;
  color: rgb(0,0,0);
  font-family: "Open Sans";
  text-align: center;
}




//
//@media only screen and (max-device-width : 480px) {
//  div.filters {
//    display: flex;
//    flex-direction: column;
//    margin-top: 89px;
//    margin-bottom: 10px;
//    padding: 2px 12px 10px;
//    text-transform: uppercase;
//    border-bottom: 1px solid black;
//    font-family: $font_header;
//
//    div.captions {
//      display: flex;
//      align-items: center;
//      p {
//        font-size: 11px;
//      }
//      b {
//        font-size: 12px;
//        margin-right: 25px;
//      }
//    }
//
//    div.downIcon {
//      background: url('./images/down.png');
//      background-size: contain;
//      width: 13px;
//      height: 13px;
//      margin-left: 8px;
//    }
//
//
//    .categorySelect {
//      font-size: 15px;
//      font-weight: 400;
//    }
//  }
//}
//@media only screen and (min-device-width : 480px) {
//  div.filters {
//    display: flex;
//    margin: 30px 0;
//    padding: 16px 12px;
//    text-transform: uppercase;
//    border-bottom: 1px solid black;
//    font-family: $font_header;
//
//    div.captions {
//      display: flex;
//      align-items: center;
//      p {
//        font-size: 15px;
//      }
//      b {
//        font-size: 17px;
//        margin-right: 80px;
//      }
//    }
//
//    div.downIcon {
//      cursor: pointer;
//      background: url('./images/down.png');
//      background-size: contain;
//      width: 13px;
//      height: 13px;
//      margin-left: 8px;
//    }
//
//    .categorySelect {
//      font-size: 15px;
//      font-weight: 400;
//    }
//  }
//}
