@import "./_variables.scss";

@media only screen and (max-device-width : 480px) {
footer {
  width: 100%;
  height: 95px;
  margin-top: 30px;
  background: #b0b0b0;
  display: flex;
  justify-content: center;
  align-items: center;

  div.logo {
    background: url('./images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
  }
  p {
    font-size: 25px;
    margin-right: 80px;
    margin-bottom: 3px;
    color: white;
    font-family: $font_header;
  }
  .social {
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 5px;

    &.vk { background-image: url('./images/social/vk.png'); }
    &.tg { background-image: url('./images/social/telegram.png'); }
    &.in { background-image: url('./images/social/instagram.png'); }
  }
}

}
@media only screen and (min-device-width : 480px) {
footer {
  width: 100%;
  height: 185px;
  margin-top: 100px;
  background: #b0b0b0;
  display: flex;
  justify-content: center;
  align-items: center;

  div.logo {
    background: url('./images/logo.png');
    background-size: contain;
    width: 60px;
    height: 60px;
  }
  p {
    font-size: 61px;
    margin-right: 80px;
    margin-bottom: 3px;
    color: white;
    font-family: $font_header;
  }
  .social {
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: 5px;

    &.vk { background-image: url('./images/social/vk.png'); }
    &.tg { background-image: url('./images/social/telegram.png'); }
    &.in { background-image: url('./images/social/instagram.png'); }
  }
}

}
