@import "./_variables.scss";


.filter__item {
  width: 155px;
  height: 42px;
  border-radius: 3px;
  background-color: #ffffff1c;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(255,255,255);
  font-family: "Open Sans";
  font-weight: bold;
  cursor: pointer;
}

.active__filter {
  color: rgb(33,150,243);
}


.filter__check {
  display: none;
}



.dropdown {
  display: flex;
  justify-content: space-around;
}


.item__coupon__filter-item {
  height: 205px;
  background-color: #ffffff;
}

.image__wrapper img {
  max-width: 100%;
}

.filter__shop__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(243, 235, 235);
}

.image__wrapper {
  width: 70px;
}

.image__filter__content {
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__shop__content p {
  font-size: 14px;
  color: rgb(0,0,0);
  font-family: "Open Sans";
  text-align: center;
}

.dropdown {
  display: flex;
  max-width: 1170px;

  margin: 0 auto;
  color: black;
}

//* {
//  overflow-x: hidden;
//}

.item img{
  display: block;
  width: 100%;
  height: auto;
}

.owl-stage {
  width: 800px;
  display: flex;
}

.owl-carousel {
  position: relative !important;
  max-width: 1170px !important;

}

.owl-nav {
display: flex;
  position: relative;
}

.owl-prev__left {
  position: absolute !important;
  top: -110px;
}

.owl-next__right {
  position: absolute !important;
  top: -110px;
  right: -45px;
}


/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }
.owl-carousel .owl-item img {
  display: block;
  width: 100%; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-carousel.owl-loaded {
  display: block; }
.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }
.owl-carousel.owl-hidden {
  opacity: 0; }
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }
.owl-carousel.owl-rtl {
  direction: rtl; }
.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  /* background: url("owl.video.play.png") no-repeat; */
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }



//@keyframes fadein {
//  from { opacity: 0; }
//  to { opacity: 1; }
//}
//
//@media only screen and (max-device-width : 480px) {
//  div.selectItem {
//    display: flex;
//    align-items: center;
//    flex-direction: column;
//    position: relative;
//    div.selected {
//      display: flex;
//      flex-wrap: wrap;
//      align-items: center;
//      justify-content: flex-start;
//      width: 100%;
//      margin-top: 10px;
//      span {
//        font-size: 12px;
//        margin: 2px 5px;
//        margin-left: 0;
//        background: #dadada;
//        padding: 3px 7px;
//        border-radius: 10px;
//      }
//      cursor: pointer;
//      user-select: none;
//    }
//    div.dropdown {
//      font-family: $font_header;
//      width: 200px;
//      background: white;
//      border: 1px solid rgba(0,0,0,0.1);
//      padding: 20px;
//      display: none;
//      position: absolute;
//      z-index: 9;
//      top: 25px;
//
//      .item {
//        margin-bottom: 7px;
//        font-size: 10px;
//        input {
//          margin-right: 4px;
//        }
//      }
//
//      &.opened {
//        display: block;
//        animation-name: fadein;
//        animation-duration: 0.3s;
//      }
//    }
//  }
//}
//@media only screen and (min-device-width : 480px) {
//  div.selectItem {
//    margin: 0 10px;
//    display: flex;
//    align-items: center;
//    position: relative;
//    div.selected {
//      display: flex;
//      align-items: center;
//      span {
//        font-size: 12px;
//        margin-left: 5px;
//        background: #dadada;
//        padding: 3px 7px;
//        border-radius: 10px;
//      }
//      div.downIcon {
//        background: url('./images/down.png');
//        background-size: contain;
//        width: 13px;
//        height: 13px;
//        margin-left: 8px;
//      }
//      cursor: pointer;
//      user-select: none;
//    }
//    div.dropdown {
//      font-family: $font_header;
//      width: 200px;
//      background: white;
//      border: 1px solid rgba(0,0,0,0.1);
//      padding: 20px;
//      display: none;
//      //position: absolute;
//      z-index: 9;
//      top: 25px;
//      margin-left: -20px;
//
//      .item {
//        margin-bottom: 7px;
//        input {
//          margin-right: 4px;
//        }
//      }
//
//      &.opened {
//        display: block;
//        animation-name: fadein;
//        animation-duration: 0.3s;
//      }
//    }
//  }
//}
