@import "./_variables.scss";

.shops {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.people__used {
  display: flex;
  align-items: center;
}


.svg__people img {
  width: 20px;
  height: 20px;
  display: block;
  padding-top: 7px;
}