.coupon__wrapper {
  background: url('../images/promocode.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  order-radius: 30px 30px;
  padding-right: 14px;
}


.filter__shop__wrapper {
  width: 165px;
  background-color: #ffffff;

  &:hover {
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    background-color: #ffffff;
    transform: translate(-25px, 6px);
    transition: 0.3s;
    font-size: 14px;
    color: rgb(0,0,0);
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;

    .filter__shop__content {
      border-radius: 3px;
      box-shadow: 0 0 15px rgba(0,0,0,0.25);
      background-color: #e5e5e5;
      width: 100%;
    }
  }
}
.owl-stage {
  padding-bottom: 9px !important;
}



.shops {
  padding-bottom: 7px;
}

.tab-content {
    width: 100%;
}

.filter__shop__content {
  height: 64px;
  line-height: 1.6;
}

.coupons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.couponItem {
  flex-basis: 25%;
}

.coupon__img-container {
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.coupon__content-container {


}

.title__code {
  margin-left: 15px;
  font-size: 14px;
  color: rgb(32,25,27);
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.data__promocode {
  display: flex;
  margin-left: 15px;
  margin-bottom: 10px;
  align-items: center;
}

.amount__people {
  font-size: 14px;
  color: rgb(32,25,27);
  font-family: "Open Sans";
  font-weight: bold;
  text-align: right;
}

.days {
  width: 151px;
  height: 22px;
  background-color: #e8e8e8;
  font-size: 14px;
  color: rgb(32,25,27);
  font-family: "Open Sans";
}

.people__used {
  flex-basis: 15%;
}

.get__code {
  width: 155px;
  height: 42px;
  border-radius: 3px;
  margin-left: 40px;
  font-size: 14px;
  color: rgb(255,255,255);
  font-family: "Open Sans";
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #ff2129;
}

.contact__promo {
  display: flex;
  margin-top: 65px;
  padding-bottom: 40px;
  align-items: center;
}

.days__wrapper {
  flex: 1;
}

.discount__sale p {
  font-size: 24px;
  border: 1px dashed rgb(0,119,194);
  padding: 5px;
  border-radius: 9px;
  color: rgb(0,119,194);
  font-family: "Open Sans";
  font-weight: bold;
  text-align: center;
}

.discount__wrapper {
  margin-left: 15px;
}