
.dropdown {
  display: flex;
}

.filters__sites-category {
  background-color: #2195f3;
  width: 100%;
  height: 250px;
}

.heading__text-filter {
  margin-top: 40px;
}

.filter__wrapper {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.filter__head {
  font-size: 36px;
  color: rgb(255,255,255);
  font-family: "Open Sans";
  text-align: center;
}

.filter__title {
  font-size: 24px;
  color: rgb(255,255,255);
  font-family: "Open Sans";
  text-align: center;
}

.filters {
  margin-top: 10px;
}

